html {
    min-height: 100%;
    height: auto;
}

body {
    width: 700px;
    margin: 0 auto;
    font: 1em/1.5em "Minion Pro",'Trebuchet MS', Verdana, Georgia, serif;
    padding: 0 0 60px 0;
    line-height: 24px;
//    background-image: url(../images/tarsier.gif);
//    background-repeat: no-repeat;
//    background-position: 90% 100%;
    text-align: left;
}

#bar {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #999;
    display: block;
    font-style: italic;
}

h1, h2, h3, h4, h5 {
    font-family: "Trebuchet MS", "Tahoma","Helvetica","Arial",sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: normal;
    line-height:1.1em;
}

h1 {
    font-size: 35px;
    margin: 50px 0 80px 0;
    text-align: right;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h3 span {
    margin-left: 20px;
    font-style: italic;
}

img {
    border: 0;
}

a {
    color: midnightblue;
}

a:visited {
    color: indigo;
}

a:active, a:hover, a:visited:hover {
    color: crimson;
}

#buy {
    float: right;
    margin: 10px;
}

#footer {
    margin-top: 40px;
}

.feedback {
    font-size: 25px;
    font-family: "Helvetica","Arial",sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: normal;
}

.copyright {
    text-align: center;
    margin-top: 30px;
}


/*
p + p {
    margin: 15px 0;
}
*/

/*
p+p {
    text-indent: 30px;
}
*/

dt {
    font-style: italic;
}

pre {
    margin: 0;
}

tt, code, kbd, samp {
    font-size: 14px;
/*  font-weight: bolder; */
}

.amp {
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-style: italic;
}

p a.comment {
    display: none;
    width: 100px;
    padding: 104px 0 100px 115px;
    position: absolute;
    margin-top: -100px;
    margin-left: 600px;
    text-decoration: none;
    text-align: left;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    /*
    background:#fee;
    display:block;
    clear: both;
    color: #FFFFFF;
    float: left;
    font-style: italic;
    left: -50px;
    margin-right: -50px;
    position: relative;
    text-decoration: none;
    width: 50px;
    */
}

.admonitionblock p a.comment {
  margin-left:505px;
}

/*p:hover {
    background:#fee;
}*/

p:hover a.comment, a:hover.comment {
    display: block;
}

.imageblock .content {
    border: 1px solid #999;
    text-align: center;
    padding: 15px;
}

.imageblock .image-title {
    font-style: italic;
    margin: 15px 0;
}

.imageblock img {
    width: 80%;
}

.listingblock .content {
    margin: 15px 0 15px 30px;
}

.quoteblock .content {
    padding: 0 30px;
    font-size: 14px;
}

.quoteblock .attribution {
    text-align: right;
}

.admonitionblock table {
    margin: 0;
}

.admonitionblock {
    margin: 0 30px 0 0;
}

.admonitionblock .icon {
    padding: 5px 10px 0 0;
    vertical-align: top;
}

.admonitionblock td.content {
    vertical-align: top;
    font-size: 14px;
}

hr {
  text-align: center;
}

.highlight {
    margin: 20px;
    padding: 10px;
//    background-color: #DDD;
//    border: 1px solid #000;
}

#cover {
  margin:0 -20px 2ex 2em;
}

h2 a.anchor,
h3 a.anchor {
    color: #FFF;
}

h2:hover a.anchor,
h3:hover a.anchor {
    color: midnightblue;
}

a.anchor {
  text-decoration:none;
  font-size: 0.5em;
}

a.anchor:hover {
  color:#F00;
}

div.note p.admonition-title{
//    height: 66px;
//    width: 80px;
    display:none;
}
div.note p.last{
    background-image: url(../_static/note.png);
    background-repeat: no-repeat;
    padding-left: 100px;
    font-size: 11pt;
}

//div.body div.section p{
//    font: 1em/1.5em "Minion Pro",'Trebuchet MS', Verdana, Georgia, serif;
//}
